.filter{
  // display: flex;
  // flex-direction: column;
  margin-top: 1em;
  background: $main-color;
}

.filter__title{
  color: $main-color;
}

.filter-btn{
    background: $second-color;
    border: none;
    color: white;
    margin-right: 10px;
    &:hover{
      background: darken($second-color, 10%);
    }
}

.filter__checkboxes{
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  // margin-left: 0.5em;
}

.filter__checkbox-container{
  margin: 0.3em 0;
}

.filter__checkbox {
  position: absolute;
  opacity: 0;


  & + .filter__label {
    position: relative;
    cursor: pointer;
    padding: 0;
    text-transform: capitalize;
    font-size: 1em;
    color: inherit;
  }

  // Box.
  & + .filter__label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  // Box hover
  &:hover + .filter__label:before {
    background: $main-color;
  }

  // Box focus
  &:focus + .filter__label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + .filter__label:before {
    background: $main-color;
  }

  // Disabled state label.
  &:disabled + .filter__label {
    color: $second-color;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + .filter__label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + .filter__label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white,
    4px 0 0 white,
    4px -2px 0 white,
    4px -4px 0 white,
    4px -6px 0 white,
    4px -8px 0 white;
    transform: rotate(45deg);
  }
}