.recipe__add {
  margin: 1em;
  border: none;
  background: $additional-color;
  height: 50px;
  font-size: 3em;
  line-height: 50px;
  color: white;
  border-radius: 20px;
}

.recipe-form{
  background: rgba(white, 0.7);
}

.recipe-form-label{
  position: absolute;
  top: -0.7rem;
}


.form__description {
  margin: 0;
  font-size: 1.2em;
  color: $main-color;
}

.form-button{
  height: 100%;
  padding: 15px 0 !important;
}

.form__input {
  border: 1px solid $main-color;
  background: white;
  color: black;
  margin: 0.5em;
  padding: 0.3em 0;
  @media #{$large} {
    width: 70%;
    margin: 0.5em;
    padding: 0;
  }
}

.form__submit {
  color: white;
  background: $main-color;
  border: $main-color;
}

.form__checkboxes {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  p{
    margin: 1em;
  }
  @media #{$large} {
    flex-direction: row;
  }
}

.form__checkbox-container {
  margin: 0.3em 0;
}