.recipe__add {
  margin: 1em;
  border: none;
  background: $additional-color;
  height: 50px;
  font-size: 3em;
  line-height: 50px;
  color: white;
  border-radius: 20px;
}

.recipe-form{
  // display: flex;
  // flex-direction: column;
  background: rgba(white, 0.7);
}

.recipe-form-label{
  position: absolute;
  top: -0.7rem;
}


.form__description {
  margin: 0;
  font-size: 1.2em;
  color: $main-color;
}

.form-button{
  height: 100%;
  padding: 15px 0 !important;
}

.form__input {
  border: 1px solid $main-color;
  background: white;
  color: black;
  margin: 0.5em;
  padding: 0.3em 0;
  @media #{$large} {
    width: 70%;
    margin: 0.5em;
    padding: 0;
  }
}

.form__submit {
  color: white;
  background: $main-color;
  border: $main-color;
}

.form__checkboxes {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  p{
    margin: 1em;
  }
  @media #{$large} {
    flex-direction: row;
  }
}

.form__checkbox-container {
  margin: 0.3em 0;
}

// .form__checkbox {
//   position: absolute; // take it out of document flow
//   opacity: 0; // hide it

//   & + .form__label {
//     position: relative;
//     cursor: pointer;
//     padding: 0;
//     text-transform: capitalize;
//     color: $main-color;
//   }

//   // Box.
//   & + .form__label:before {
//     content: '';
//     margin-right: 10px;
//     display: inline-block;
//     vertical-align: text-top;
//     width: 20px;
//     height: 20px;
//     background: white;
//   }

//   // Box hover
//   &:hover + .form__label:before {
//     background: $main-color;
//   }

//   // Box focus
//   &:focus + .form__label:before {
//     box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
//   }

//   // Box checked
//   &:checked + .form__label:before {
//     background: $main-color;
//   }

//   // Disabled state label.
//   &:disabled + .form__label {
//     color: $second-color;
//     cursor: auto;
//   }

//   // Disabled box.
//   &:disabled + .form__label:before {
//     box-shadow: none;
//     background: #ddd;
//   }

//   // Checkmark. Could be replaced with an image
//   &:checked + .form__label:after {
//     content: '';
//     position: absolute;
//     left: 5px;
//     top: 9px;
//     background: white;
//     width: 2px;
//     height: 2px;
//     box-shadow: 2px 0 0 white,
//     4px 0 0 white,
//     4px -2px 0 white,
//     4px -4px 0 white,
//     4px -6px 0 white,
//     4px -8px 0 white;
//     transform: rotate(45deg);
//   }
// }