.recipe__add {
  margin: 1em;
  border: none;
  background: $additional-color;
  height: 50px;
  font-size: 3em;
  line-height: 50px;
  color: white;
  border-radius: 20px;
}

.recipe-form{
  background: darken($additional-color, 20%);
}

.recipe-form-label{
  position: absolute;
  top: -0.7rem;
  color: white;
}


.form__description {
  margin: 0;
  font-size: 1.2em;
  color: white;
}

.form-button{
  height: 100%;
  padding: 15px 0 !important;
}

.form__input {
  border: 1px solid $main-color;
  background: white;
  color: black;
  margin: 0.5em;
  padding: 0.3em 0;
  @media #{$large} {
    width: 70%;
    margin: 0.5em;
    padding: 0;
  }
}

.form__submit {
  color: white;
  background: $main-color;
  border: $main-color;
}

.form__checkboxes {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  p{
    margin: 1em;
  }
  @media #{$large} {
    flex-direction: row;
  }
}

.form__checkbox-container {
  margin: 0.3em 0;
}

.form-checkbox-label{
  color: white;
}

.form-ingredients__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.form-ingredients__list-button{
  background: lighten(red, 20%);
  border: none;
  margin: 10px 0 10px 20px;
  padding: 0 15px !important;

  &--edit{
    background: lighten(yellow, 10%);
    color: black;
    &:hover{
      background: yellow !important;
    }
  }
  &:hover{
    background: lighten(red, 10%);
  }
}