//COLORS
$main-color: #361712;
$second-color: #C8915B;
$additional-color: #4BC379;

//SCREEN SIZES
$small: "screen and (min-width: 576px)";
$mid: "screen and (min-width: 768px)";
$large: "screen and (min-width: 992px)";

//FONT:
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import './materialize/materialize.scss';

//PARTIALS:
@import 'header.scss';
// @import 'loader.scss';
@import 'recipeForm.scss';
@import 'recipe.scss';
@import 'filter';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // background: url("../../images/background.jpg");
  background-color: $additional-color;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}