//COLORS
$main-color: #361712;
$second-color: #C8915B;
$additional-color: #4BC379;

//SCREEN SIZES
// $small: "screen and (min-width: 576px)";
$mid: "screen and (min-width: 600px)";
$large: "screen and (min-width: 992px)";
$xlarge: "screen and (min-width: 1200px)";

//FONT:
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import './materialize/materialize.scss';

//PARTIALS:
@import 'components.scss';
@import 'menu.scss';
@import 'header.scss';
@import 'loader.scss';
@import 'form.scss';
@import 'recipeDisplay.scss';
@import 'recipesList.scss';
@import 'filter';
@import 'recipeSteps.scss';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // background: url("../../images/background.jpg");
  background-color: mix($main-color, $second-color);
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}