.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: $main-color;
    list-style-type: none;
    padding: 20px 0;
    @media #{$mid} {
        flex-direction: row;
    }
}

.menu__link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px 10px;

    @media #{$mid} {
        padding: 10px;
    }
    @media #{$large} {
        padding: 10px 20px;
    }
    &:hover{
        color: $second-color;
        text-decoration: none;
    }
    &--active{
        color: $second-color;
        text-decoration: none;
        &-main{
            text-transform: uppercase;
        }
    }
}