.recipe-container{
  background: rgba(black,0.6);
  width: 100%;
  margin: 10px auto;
  min-height: 300px !important;

  @media #{$mid} {
    width: 90%;
  }
}

.recipe__favorite{
        margin: 10px 0;
        position: relative;
        display: block;
        color: $second-color;
        width: 0px;
        height: 0px;
        border-right: 20px solid transparent;
        border-bottom: 14px solid $second-color;
        border-left: 20px solid transparent;
        transform: rotate(35deg);

        &:hover{
          cursor: pointer;
        }

      &:before {
        border-bottom: 16px solid $second-color;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -9px;
        left: -13px;
        display: block;
        content: '';
        transform: rotate(-35deg);
      }

      &:after {
        position: absolute;
        display: block;
        color: $second-color;
        top: 0px;
        left: -21px;
        width: 0px;
        height: 0px;
        border-right: 20px solid transparent;
        border-bottom: 14px solid $second-color;
        border-left: 20px solid transparent;
        transform: rotate(-70deg);
        content: '';
      }
}

.recipe__content{
  display: flex;
}

.recipe__row{
  display: block;
  margin: 0 auto;
  @media #{$large} {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.recipe__row--main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 70px;
}

.recipe__row-edit{
  display: flex;
  justify-content: flex-end;
}

.recipe__title{
  margin: 0.5em 0.3em;
  color: white;
  font-weight: 700;
  text-align: right;

  @media #{$mid} {
    margin: 0.5em 1em;
  }
}

.recipe__img-container{
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe__img{
  max-width: 80%;
}

.recipe__ingredients-title{
  color: white;
  font-weight: 700;
  margin-left: 1em;
  @media #{$large} {
    margin-left: 0;
  }
}

.recipe__ingredients{
  margin-left: 1em;
  font-size: 1.2em;
  color: white;
  text-align: center;
  flex-basis: 40%;
  @media #{$large} {
    margin-left: 0;
  }
}

.recipe__ingredients-item{
  margin: 5px 0;
  text-align: right;
}

.recipe__steps-list{
  list-style-type: decimal;
  color: white;
  margin: 2em auto 0 auto;
  background: $main-color;
  padding: 10px 30px;
  @media #{$large} {
    margin: 2em 0 0 0;
  }
}

.recipe__steps-list-item{
  &:nth-child(2n) {
    background: $second-color;
  }
}

.recipe-btn{
  border: none;
  color: white;
  font-weight: 700;
  &__edit{
    background: yellow;
  }
  &__delete{
    background: red;
  }
  &__toggle{
      background: white;
  }
}
