.recipe-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-mini-container {
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    background: darken($additional-color, 10%);
    padding: 0 !important;
    width: 300px;
    border-radius: 20px;
    // box-shadow: 5px -5px 10px 0 $additional-color;
    &:nth-child(2n) {
        background: darken($additional-color, 20%);
    }
    @media #{$mid} {
        max-height: 400px !important;
        min-height: 370px !important;
        &:nth-child(n) {
            background: darken($additional-color, 10%);
        }
        &:nth-child(4n + 2), &:nth-child(4n + 3) {
            background: darken($additional-color, 20%);
        }
    }
    @media #{$large} {
        &:nth-child(n) {
            background: darken($additional-color, 10%);
        }
        &:nth-child(2n) {
            background: darken($additional-color, 20%);
        }
    }
    @media #{$xlarge} and (max-width: 1599px) {
        &:nth-child(n){
            background: darken($additional-color, 10%);
        }
        &:nth-child(8n + 2), &:nth-child(8n + 4),  &:nth-child(8n + 5),  &:nth-child(8n + 7) {
            background: darken($additional-color, 20%);
        }
    }
    @media screen and (min-width: 1600px) {
        &::nth-child(n) {
            background: darken($additional-color, 10%);
        }
        &:nth-child(2n) {
            background: darken($additional-color, 20%);
        }
    }

}

.recipe-mini-header{
    width: 100%;
    margin-top: -5px;
}

.recipe-mini__title {
    min-height: 40px;
    margin-top: 0.5em;
    color: white;
    font-weight: 700;
    text-align: center;
}

.recipe-mini__category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;
}

.recipe-mini__category {
    opacity: 0.7;
    height: 32px;
    width: 32px;
    transition: 0.5s;
    color: $main-color;
    border-radius: 10px;
    background-size: cover;

    &:not(:first-child) {
        margin-left: 10px;
    }

    &--snack {
        background-image: url("../../images/icons/fries.png");
    }

    &--breakfast {
        background-image: url("../../images/icons/sandwich.png");
    }

    &--dinner {
        background-image: url("../../images/icons/turkey.png");
    }

    &--dessert {
        background-image: url("../../images/icons/cupcake.png");
    }

    &--drink {
        background-image: url("../../images/icons/glass.png");
    }

    &:hover {
        opacity: 1;
        cursor: default;
    }
}

.recipe-mini__description{
    color: darken(white, 10%);
    margin: 5px 10px;
}

.recipe-mini__img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            background-image: linear-gradient(319deg, $additional-color 10px, transparent 11px), linear-gradient(39deg, $additional-color 10px, transparent 11px);
            background-size: 20px;
            background-repeat: repeat-x;
            height: 20px;
            width: 100%;
            transform: rotate(180deg);
            z-index: 1000;
        }
}

.recipe-mini__img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}