.recipe-container{
  background: rgba(black,0.6);
  margin: 10px 0;
  min-height: 300px !important;
}

.recipe__row{
  display: block;
  margin: 0 auto;
  @media #{$large} {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.recipe__row--main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 70px;
}

.recipe__row-edit{
  display: flex;
  justify-content: flex-end;
}

.recipe__title{
  margin: 0.5em 0;
  min-height: 50px;
  color: white;
  font-weight: 700;
}

.recipe__photo{
  flex-basis: 50%;
}

.recipe__img{
  width: 100%;
  height: 100%;
}

.recipe__ingredients-title{
  color: white;
  font-weight: 700;
  margin-left: 1em;
  @media #{$large} {
    margin-left: 0;
  }
}

.recipe__ingredients{
  margin-left: 1em;
  font-size: 1.2em;
  color: white;
  text-align: center;
  flex-basis: 40%;
  @media #{$large} {
    margin-left: 0;
  }
}

.recipe__ingredients-item{
  margin: 5px 0;
  text-align: right;
}

.recipe__steps-list{
  list-style-type: decimal;
  color: white;
  margin: 2em auto 0 auto;
  background: $main-color;
  padding: 10px 30px;
  @media #{$large} {
    margin: 2em 0 0 0;
  }
}

.recipe__steps-list-item{
  &:nth-child(2n) {
    background: $second-color;
  }
}

.recipe-btn{
  border: none;
  color: white;
  font-weight: 700;
  &__edit{
    background: yellow;
  }
  &__delete{
    background: red;
  }
  &__toggle{
      background: white;
  }
}
